/*
  padding: space between box and internal content
  border: space between the margin and the padding
  margin: space between box border and other box border
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-color: rgb(17, 17, 17);
  font-family: Calibri, sans-serif;
}

#header {
  display: flex;
}

#title {
  background-color: rgb(17, 17, 17);
  /*background-color: rgb(30, 30, 30);*/
  font-size: 40px;
  padding-left: 20px;
  padding-right: 40px;
  border-top: 3px solid purple;
  border-right: 15px solid purple;
  border-bottom: 3px solid purple;
}

#navigation-list {
  display: flex;
}

.buffer {
  display: inline;
  border: 3px solid rgb(17, 17, 17);
  border-top: 15px solid rgb(17, 17, 17);
  border-right: 3px solid rgb(17, 17, 17);
  border-bottom: 30px solid rgb(17, 17, 17);
  border-left: 3px solid rgb(17, 17, 17);
}

.filler {
  background-color: rgb(143, 113, 196);
  flex-grow: 1;
}

.piped,
.link,
.filler {
  border-top: 5px solid rgb(17, 17, 17);
  border-right: 15px solid purple;
  border-left: 15px solid purple;
  border-bottom: 5px solid rgb(17, 17, 17);
}

.link {
  background-color: rgb(143, 113, 196);
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.link:hover {
  background-color: rgb(17, 17, 17);
  border-top-color: purple;
  border-right-color: rgb(17, 17, 17);
  border-bottom-color: purple;
  border-left-color: rgb(17, 17, 17);
}