* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: sans-serif;
}

body {
  flex-direction: column;
}

body,
#header,
.header-bar,
.header-bar-mid,
.header-bar-top,
.header-bar-bottom,
.link-tray {
  display: flex;
}

.header-bar,
.header-bar-mid,
.header-bar-top,
.header-bar-bottom {
  flex: 1;
}

.title {
  background-color: #171717;
  font-size: 40px;
  padding: 0 40px 0 20px;
  border-top: 3px solid #2f2e35;
  border-bottom: 3px solid #171717;
  text-decoration: none;
}

.header-bar-left {
  border-left: 15px solid #2f2e35;
  border-bottom: 30px solid #171717;
}

.header-bar {
  background-color: #ba93ff;
}

.header-bar-mid {
  flex-direction: column;
}

.header-bar-top {
  justify-content: end;
  align-items: center;
}

.header-bar-bottom {
  background-color: #171717;
  min-height: 30px;
  justify-content: space-between;
  align-items: center;
}

.page-nav {
  text-decoration: none;
  font-weight: bold;
}

.header-bar-right {
  border-right: 15px solid #2f2e35;
  border-bottom: 30px solid #171717;
  flex-shrink: 0;
}

.link-tray {
  border-top: 3px solid #2f2e35;
}

.link {
  background-color: #171717;
  border: 5px solid #171717;
  padding-top: 2px;
  padding-left: 6px;
  padding-right: 6px;
}

.link:hover,
.title:hover {
  border-bottom-color: #2f2e35;
}

#github {
  height: 26px;
}

#linkedin {
  height: 30px;
}

#mode-selector {
  margin-right: 10px;
  height: 15px;
}