:root {    
    --bg_color: #FFFFFF;
    --text_color: black;
    color-scheme: light dark;
    font-family: "monospace";
}

[data-theme="theme-dark"] {
    --bg_color: #171717;
    --text_color: white;
}

body {
    background-color: var(--bg_color);
    color: var(--text_color);
}
